# Enable aliases to be sudo’ed
alias sudo='sudo '

# Common git aliases
# A number of aliases already exist from oh-my-zsh,
# but these are specific to my workflow
alias g="git "
alias gs="git status -s"
alias gds="git diff --staged"
alias gc="git ci -m"
alias gca="git ci -am"

alias v="vim"

# Coloured ls
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi

alias ls="ls ${colorflag}"
alias l="ls -Alh ${colorflag}"

# Cleanup scripts
rm_temp_files() {
  find . -type f -name "*.DS_Store" -ls -delete
  find . -type f -name "*.py[co]" -ls -delete
  find . -type d -name "__pycache__" -ls -delete
  find . -type f -name "*.orig" -ls -delete
}

# Clear shell history
alias clearhistory='cat /dev/null > ~/.histfile > ~/.psql_history > ~/.sh_history > ~/.bash_history'

alias mux="tmux a || tmux new -s 'default'"

pq() {
  pgcli $@ 2> /dev/null || psql postgres $@
}

alias httpserve="python -m SimpleHTTPServer $@"

alias mkdir="mkdir -p"

alias ag='ag --path-to-ignore ~/.agignore'

alias dce='docker-compose exec '

alias fuck='sudo $(fc -ln -1)'  # run last command with sudo
alias fucking='sudo '  # ask nicely

# hack for Hyper.js, which doesn't properly respect preferences when opened from the Dock under Sierra
# run this alias from Terminal.app and then quit
alias openhyper='nohup /Applications/Hyper.app/Contents/MacOS/Hyper & disown && exit'

# running counter for wifi strength
wifi_strength() {
  while x=1; do /System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport -I | grep --color=never agrCtlRSSI; sleep 0.5; done
}
