# Enable aliases to be sudo’ed
alias sudo='sudo '

# Common git aliases
# A number of aliases already exist from oh-my-zsh,
# but these are specific to my workflow
alias gs="git status -s"
alias gds="git diff --staged"
alias gc="git ci -m"
alias gca="git ci -am"

# Coloured ls
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi

alias ls="ls ${colorflag}"
alias l="ls -Alh ${colorflag}"

# Cleanup scripts
alias dsclean="find . -type f -name '*.DS_Store' -ls -delete"
alias pycclean="find . -type f -name '*.pyc' -delete"
alias origclean="find . -type f -name '*.orig' -delete"
alias cleanup="dsclean && pycclean && origclean"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Copy public key to the clipboard
alias copykeys='cat ~/.ssh/id_rsa.pub | pbcopy'

# Clear shell history
alias clearhistory='cat /dev/null > ~/.histfile > ~/.psql_history > ~/.sh_history > ~/.bash_history'

# Fix problems that prevent sound output from
# switching properly
alias fixairplay="pkill coreaudiod sbin"

# node.js: List npm modules without dependencies
npm_ls() {
  npm ls "$@" | grep "^[└├]" | sed "s/─┬/──/g"
}

# Atom: List only user-installed packages
apm_ls() {
  apm list --installed --bare | grep '^[^@]\+' -o
}

# Django-specific aliases
rs() {
  ./manage.py runserver 0.0.0.0:${1:-8000}
}

alias mp='./manage.py '
alias ds="./manage.py shell_plus 2> /dev/null || ./manage.py shell"
alias dbs="./manage.py dbshell"

dj_startproject() {
  django-admin startapp --template=https://github.com/jswinarton/django_template/archive/master.zip $@
}

venv() {
  source $1/bin/activate
}

alias mux="tmux a || tmux new -s 'default'"

pq() {
  pgcli -U postgres $@ 2> /dev/null || psql -U postgres $@
}

a() {
  cd ~/apps/$1
}
compdef '_path_files -W ~/apps/ -/ && return 0 || return 1' a

# Based on Mathias Bynens' dotfiles at
# https://github.com/mathiasbynens/dotfiles/blob/master/.aliases.
# Additional useful aliases are added to zsh by oh-my-zsh.
