[user]
  name = Jeremy Swinarton
  email = jeremy@swinarton.com
  signingkey = E403E588

[alias]
  b=rev-parse --abbrev-ref HEAD
  br=branch
  ci=!git force-local-config && git commit
  cl=clone
  co=checkout
  d=diff
  l=log --oneline
  ll=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  sdiff=diff --staged
  sd=diff --staged
  st=status -s
  root=rev-parse --show-toplevel

[push]
  default = simple

[core]
  excludesfile = ~/.gitignore_global
