[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "dotfiles/.vim/bundle/ctrlp.vim"]
	path = dotfiles/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "dotfiles/.vim/bundle/taglist.vim"]
	path = dotfiles/.vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
