[credential]
    helper = /opt/boxen/bin/boxen-git-credential

[core]
    excludesfile = /opt/boxen/config/git/gitignore

[hub]
    protocol = https

[user]
    name = Jeremy Swinarton
    email = jeremy@swinarton.com

[alias]
    addremove = add --all .
    b = rev-parse --abbrev-ref HEAD
    br = branch
    ci = !sh ~/.git_forcelocalconfig && git commit
    cl = clone
    co = checkout
    diff=diff --word-diff
    st = status -s
    root = rev-parse --show-toplevel
    ls=log --pretty=format:%C(yellow)%h%Cred%d\ %Creset%s%Cblue\ [%cn] --decorate
    ll=log --pretty=format:%C(yellow)%h%Cred%d\ %Creset%s%Cblue\ [%cn] --decorate --numstat
    lds=log --pretty=format:%C(yellow)%h\ %ad%Cred%d\ %Creset%s%Cblue\ [%cn] --decorate --date=short
    slog = !git --no-pager log --pretty=oneline

    # cp=cherry-pick
    # dc=diff --cached
    # sl=stash list
    # sa=stash apply
    # ss=stash save
    # lnc=log --pretty=format:%h\ %s\ [%cn]
    # ld=log --pretty=format:%C(yellow)%h\ %ad%Cred%d\ %Creset%s%Cblue\ [%cn] --decorate --# date=relative
    # le=log --oneline --decorate
    # filelog=log -u
    # fl=log -u
    # dl=!git ll -1
    # dlc=diff --cached HEAD^
    # dr=!f() { git diff $1^..$1; }; f
    # lc=!f() { git ll $1^..$1; }; f
    # diffr=!f() { git diff $1^..$1; }; f
    # f=!git ls-files | grep -i
    # grep=grep -Ii
    # gr=grep -Ii
    # gra=!f() { A=$(pwd) && TOPLEVEL=$(git rev-parse --show-toplevel) && cd $TOPLEVEL && git grep # --full-name -In $1 | xargs -I{} echo $TOPLEVEL/{} && cd $A; }; f
    # la=!git config -l | grep alias | cut -c 7-
    # lasttag=describe --tags --abbrev=0
    # lt=describe --tags --abbrev=0
    # ours=!f() { git co --ours $@ && git add $@; }; f
    # theirs=!f() { git co --theirs $@ && git add $@; }; f
    # outgoing=!git fetch && git log FETCH_HEAD..
    # out=!git fetch && git log FETCH_HEAD..
    # incoming=!git fetch && git log ..FETCH_HEAD
    # in=!git fetch && git log ..FETCH_HEAD
    # rl=!git --no-pager diff --name-only --diff-filter=U

[push]
    default = simple
