[credential]
    helper = /opt/boxen/bin/boxen-git-credential

[core]
    excludesfile = /opt/boxen/config/git/gitignore

[hub]
    protocol = https

[user]
    name = Jeremy Swinarton
    email = jeremy@swinarton.com

[alias]
    addremove = add --all .
    b = rev-parse --abbrev-ref HEAD
    ci = commit
    st = status -s
    slog = !git --no-pager log --pretty=oneline

[push]
    default = simple
