snippet def
	def ${1:name} do
	  ${2}
	end
snippet defmodule
	defmodule ${1:ModuleName} do
	  ${2}
	end
snippet defp
	defp ${1:name} do
	  ${2}
	end
snippet doc
	@doc """
	${1}
	"""
snippet ectos
	defmodule ${1:SchemaName} do
	  use Ecto.Schema

	  schema "${2}" do
	    ${3}
	  end
	end
snippet fn
	fn(${1:args}) -> ${2} end
snippet i
	IO.inspect ${1}
snippet pry
	require IEx; IEx.pry
snippet test
	test "${1:test_name}" do
	  ${2}
	end
