"*":
  editor:
    fontSize: 12
    invisibles: {}
    fontFamily: "Menlo"
    lineHeight: 1.35
    tabLength: 4
    scrollSensitivity: 30
    softWrap: true
    preferredLineLength: 79
  core:
    projectHome: "/apps"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    disabledPackages: [
      "deprecation-cop"
      "language-mustache"
      "exception-reporting"
      "feedback"
      "image-view"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-source"
      "language-toml"
      "metrics"
      "welcome"
    ]
  welcome:
    showOnStartup: false
  linter:
    lintOnChange: false
    showHighlighting: false
    lintOnEditorFocus: true
    subtleLinterErrors: [
      "jshint"
    ]
    lintOnFly: false
    showErrorPanel: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "linter-jshint": {}
  "linter-flake8":
    executableDir: "/Users/jeremy/.envs/pychecker/bin/"
  "file-types":
    jst: "text.html"
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: false
  tabs:
    usePreviewTabs: true
    alwaysShowTabBar: false
  "symbols-tree-view":
    scrollAnimation: false
