"*":
  editor:
    fontSize: 12
    invisibles: {}
    fontFamily: "Menlo"
    lineHeight: 1.35
    tabLength: 4
    scrollSensitivity: 30
    softWrap: true
    preferredLineLength: 79
  core:
    projectHome: "/apps"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    disabledPackages: [
      "deprecation-cop"
      "language-mustache"
      "exception-reporting"
      "feedback"
      "image-view"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-source"
      "language-toml"
      "metrics"
      "welcome"
    ]
  "exception-reporting":
    userId: "e5c189b2-15b1-ddf0-0317-daf1fa67fe7d"
  welcome:
    showOnStartup: false
  linter:
    lintOnChange: false
    showHighlighting: false
    lintOnEditorFocus: false
  "tree-view":
    hideVcsIgnoredFiles: true
  "linter-jshint": {}
  "linter-flake8":
    executableDir: "/Users/jeremy/.envs/pychecker/bin/"
