'.source.python':
  'pdb':
    'prefix': 'pdb'
    'body': 'import pdb; pdb.set_trace()'
  'splat':
    'prefix': '*'
    'body': '*args, **kwargs'
  'django_post':
    'prefix': 'post'
    'body': 'def post(self, request, *args, **kwargs):'
  'django_get':
    'prefix': 'get'
    'body': 'def get(self, request, *args, **kwargs):'

'.source.js':
  'Console log':
    'prefix': 'log'
    'body': 'console.log(${1:"Hello, World!"});'

'.text.html':
  'jinja block':
    'prefix': 'block'
    'body': '{% block $1 %}\n\t$2\n{% endblock %}'
  'script':
    'prefix': 'sc'
    'body': '<script type="text/javascript">\n\t$1\n</script>'
  'extrajs':
    'prefix': 'extrajs'
    'body': '''{% block extrajs %}
    <script type="text/javascript">
        $(function(){
            $1
        });
    </script>
    {% endblock extrajs %}'''
  'extrastyle':
    'prefix': 'extrastyle'
    'body': '''{% block extrastyle %}
    <style type="text/less">
    $1
    </style>
    {% endblock extrastyle %}'''
