[user]
  name = Jeremy Swinarton
  email = jeremy@swinarton.com
	signingkey = 0x719124DD4A660925

[alias]
  # basic aliases
  b=rev-parse --abbrev-ref HEAD
  br=branch
  ci=!git force-local-config && git commit --verbose
  cim=!git force-local-config && git commit --verbose -m "more"
  cl=clone
  co=checkout
  st=status -s
  root=rev-parse --show-toplevel

  # code review
  files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
  stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
  review = !git diff \"$REVIEW_BASE\"
  reviewvim = !vim -p $(git files) +\"tabdo Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

  # logs
  l=log --oneline

[push]
  default = simple

[core]
  excludesfile = ~/.gitignore
  pager = delta --diff-so-fancy

[delta]
  features = side-by-side line-numbers decorations


[gpg]
  program = gpg

[commit]
  gpgsign = true
