[user]
  name = Jeremy Swinarton
  email = jeremy@swinarton.com
	signingkey = 0x719124DD4A660925

[alias]
  # basic aliases
  b=rev-parse --abbrev-ref HEAD
  bb=for-each-ref refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  br=branch
  ci=!git force-local-config && git commit --verbose
  cim=!git force-local-config && git commit --verbose -m "more"
  cl=clone
  co=checkout
  diff-full=diff -U20000  # show full files in diff (unless they're huge)
  files=diff --name-only
  root=rev-parse --show-toplevel
  st=status -s
  stat=diff --stat

  # logs
  l=log --oneline

  # diffs and logs across a base branch (good for CLI code review)
  base-diff-full=!git diff -U2000 $(git merge-base HEAD \"$REVIEW_BASE\")
  base-diff=!git diff $(git merge-base HEAD \"$REVIEW_BASE\")
  base-files=!git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
  base-l=!git log --oneline $(git merge-base HEAD \"$REVIEW_BASE\")..
  base-log=!git log $(git merge-base HEAD \"$REVIEW_BASE\")..
  base-stat=!git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")


[push]
  default = simple
	autoSetupRemote = true

[core]
  excludesfile = ~/.gitignore
  pager = delta --diff-so-fancy

[delta]
  features = side-by-side line-numbers decorations
  plus-style = green

[gpg]
  program = gpg

[commit]
  gpgsign = true
[init]
	defaultBranch = main
[cinnabar]
	version-check = 1738323688
