[user]
  name = Jeremy Swinarton
  email = jeremy@swinarton.com
	signingkey = 0x719124DD4A660925

[alias]
  # basic aliases
  b=rev-parse --abbrev-ref HEAD
  br=branch
  ci=!git force-local-config && git commit --verbose
  cim=!git force-local-config && git commit --verbose -m "more"
  cl=clone
  co=checkout
  st=status -s
  root=rev-parse --show-toplevel

  # code review
  files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
  stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
  ; flow needs a rework, looking to get away from tabs and use buffers instead
  ; review = !nvim $(git files) +\"bufdo Gdiff $REVIEW_BASE | bunload\"

  # logs
  l=log --oneline

[push]
  default = simple

[core]
  excludesfile = ~/.gitignore
  pager = delta --diff-so-fancy

[delta]
  features = side-by-side line-numbers decorations

[gpg]
  program = gpg

[commit]
  gpgsign = true
